.movie-card {
  margin-bottom: 10px;
  padding: 10px;
  height: 100%;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.movie-description {
  font-size: 0.9rem;
  text-align: justify;
}
